{% extends 'base.html.twig' %}

{% block title %}Logement index{% endblock %}

{% block body %}

    <h1 class="mx-auto col-4 mb-4">Logements</h1>

    <div class="row">
    <div class="col-10 mx-auto">
 <div class="card-deck">
{% for logement in logements %}
        <div class="card col-4" style="width: 18rem;">
            <img class="img img-fluid"src="{{ asset('uploads/logement/' ~ logement.filename) }}" alt="">
                <div class="card-body">
                <div class="row">
                <div class="col-8"> 
                    <h5 class="card-title">{{ logement.ville }}</h5> 
                </div>
                 {% for agence in logement.agences %}
                    <div class="col-4">
                    <img class="img img-fluid"src="{{ asset('uploads/agence/' ~ agence.filename) }}" alt="">
                    </div>
                {% endfor %}
                </div>
                 </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ logement.superficie }} m²</li>
                    <li class="list-group-item">{{ logement.prix }} euros</li>
                </ul>
                <div class="card-body">
                <button type="button" class="btn btn-outline-primary btn-lg btn-block">
                        <a href="{{ path('app_logement_show', {'id': logement.id}) }}">Découvrir</a>
                </button>
                         
                     {% if is_granted('ROLE_ADMIN') %}
                    <button type="button" class="btn btn-outline-primary btn-lg btn-block">
                       <a href="{{ path('app_logement_edit', {'id': logement.id}) }}">edit</a>
                </button>
                     {% endif %}
                </div>
                </div>
{% endfor %}
            </div>
        </div>
        </div>
   
{% if is_granted('ROLE_ADMIN') %}
 <button type="button" class=" col-6 text-center mx-auto btn btn-outline-primarybtn-block">
                          <a href="{{ path('app_logement_new') }}">Créer une annonce</a>
                </button>
  
    {% endif %}
{% endblock %}
