{% extends 'base.html.twig' %}

{% block title %}Employe{% endblock %}

{% block body %}
    <h1>Employe</h1>

    <table class="table mx-auto col-10">
        <tbody>
            <tr>
                <th>Photo</th>
               <td><img class="img img-fluid w-25 rounded-circle bg-gradient-dark"src="{{ asset('uploads/employe/' ~ employe.filename) }}" alt=""></td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ employe.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ employe.nom }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ employe.contact }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_employe_index') }}">back to list</a>

    <a href="{{ path('app_employe_edit', {'id': employe.id}) }}">edit</a>

    {{ include('employe/_delete_form.html.twig') }}
{% endblock %}
